<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Privacy Policy</title>
    <link rel="icon" type="image/x-icon" href="https://fuca.fluiddev.xyz/assets/img/logo-modified.png">
  </head>
  <body>
    <h1>Statement</h1>
    <p>
      We respect the privacy of your information. We provide this explanation
      about our information practices as a show of our commitment to protect
      your privacy. This policy describes the types of information we may
      collect from you or that you may provide when using Fuca or servers
      where Fuca is present and our practices for collecting, using,
      maintaining, protecting, and disclosing that information.
    </p>
    <p>
      Please read this policy carefully to understand our policies and practices
      regarding your information and how we treat it. If you do not agree with
      our policies and practices, your choice is not to use our website or bot.
      By adding Fuca to your Discord server, you agree that you have read and
      agree to this policy.
    </p>

    <h2>What external services we use?</h2>
    <p>
      We use YouTube API Services to send notifications of new video uploaded or
      new live streaming.
    </p>
    <p>
      You can check
      <a href="http://www.google.com/policies/privacy">Google Privacy Policy</a>
      for more information.
    </p>

    <h2>What does it store?</h2>
    <ul>
      <li>
        Server IDs for server data (prefixes, settings, welcome, automod,
        logging, YouTube Notifications).
      </li>
      <li>User IDs to keep a record of afk, warn, mute, todolist, leveling.</li>
      <li>YouTube channel ID to send notifications.</li>
      <li>Specific YouTube channel's last video link, Title, Description.</li>
      <li>
        Few parts of message content for logging system and chatbot system.
      </li>
    </ul>
    <p>
      Our bot only gathers personally identifiable data through commands run
      using the bot. This information helps us provide a better user experience
      for all Fuca's users.
    </p>

    <h2>
      The information we collect when you vote for Fuca on the third-party
      website Discord bot list
    </h2>
    <ul>
      <li>Your Username</li>
      <li>Date and time when the votes counted.</li>
    </ul>
    <p>
      We store this data on MongoDB private cluster and it will delete if you
      are not using our bot for the future.
    </p>

    <h2>
      How user data is being processed and shared with internal and external
      parties?
    </h2>
    <p>
      We don't share any user data to any internal or external parties without
      the usage of bot's command by user. If a user uses a command which needs
      to share data externally or internally then we share it with full security
      in keeping mind about the privacy of user.
    </p>

    <h2>How user data is collected from their devices?</h2>
    <p>
      We don't directly collect any data from user's devices we just make an api
      request to discord to get only the data which is provided by user itself.
    </p>

    <h2>What logs bot will send into your server?</h2>
    <ul>
      <li>
        The bot will send the deleted messages in the selected log channel.
      </li>
      <li>The bot will send member join/leave events selected log channel.</li>
      <li>
        The bot will send the YouTube video/live stream notifications in the
        selected log channel.
      </li>
      <li>
        The bot will send the message content which is changed by any users in
        the selected log channel.
      </li>
    </ul>
    <p>
      <strong>Note:</strong> These are very sensitive for every user's privacy
      so we recommend to admins that take the log channels as private or mod
      only.
    </p>

    <h2>Who can access the data?</h2>
    <ul>
      <li>Fuca's developer(s).</li>
    </ul>

    <h2>How can I get rid of the data stored?</h2>
    <p>
      To remove the server id or user id stored in our database do one of the
      following:<br>
      <strong>
        Contact any of the server moderators in our discord support server.<br> Ask
        server mod(s) to remove the logged message or just wait for 24 hours,
        after being they are removed automatically after 24 hours.
      </strong>
    </p>

    <h2>HOW CAN I CONTACT YOU?</h2>
    <p>
      <strong>
        If you have specific questions about our privacy policy you can send us an <a href="mailto:support@fuca.fluiddev.xyz">Email</a> and you can simply join our <a href="/discord">discord</a> support server
      </strong>
    </p>
  </body>
</html>
