<!DOCTYPE html>
<html>
  <head>
    <title>Terms of Service - Fuca</title>
    <link rel="icon" type="image/x-icon" href="https://fuca.fluiddev.xyz/assets/img/logo-modified.png">
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Terms of Service</h1>
    <p>
      Welcome to Fuca, a Discord bot designed to provide useful and
      entertaining features for Discord communities. By using this bot, you
      agree to the following terms and conditions:
    </p>
    <ol>
      <li>
        <strong>Acceptable Use:</strong> Fuca is intended for use in a
        friendly and respectful manner. You may not use Fuca to harass, spam,
        or engage in other disruptive behaviors that violate Discord's terms of
        service or community guidelines. Fuca reserves the right to ban or
        remove users who violate these terms.
      </li>
      <li>
        <strong>User Privacy:</strong> Fuca will collect and store user data
        as needed to provide its services. This may include user IDs, server
        IDs, and message content. Fuca will use this data only for the purpose
        of providing its services and will not share this data with third
        parties without user consent, unless required by law.
      </li>
      <li>
        <strong>Availability:</strong> Fuca will make its best effort to
        provide reliable and consistent service. However, Fuca may be subject
        to occasional downtime or interruptions due to server maintenance,
        updates, or other issues beyond our control. Fuca is not liable for
        any damages or losses resulting from service interruptions.
      </li>
      <li>
        <strong>Limitation of Liability:</strong> Fuca is provided "as is" and
        without warranty of any kind, either express or implied. Fuca is not
        liable for any damages or losses resulting from the use or inability to
        use its services, including but not limited to direct, indirect,
        incidental, or consequential damages.
      </li>
      <li>
        <strong>Modification of Terms:</strong> Fuca reserves the right to
        modify these terms of service at any time. By continuing to use Fuca
        after modifications have been made, you agree to the updated terms.
      </li>
      <li>
        <strong>Termination:</strong> Fuca reserves the right to terminate its
        services or user access at any time, for any reason.
      </li>
      <li>
        <strong>Governing Law:</strong> These terms of service will be governed
        by and interpreted in accordance with the laws of the jurisdiction in
        which Fuca is located.
      </li>
      <li>
        <strong>YouTube Terms of Service:</strong> By using Fuca, you
        acknowledge and agree that you are also bound by the YouTube Terms of
        Service. Please review the YouTube Terms of Service at
        <a href="https://www.youtube.com/t/terms"
          >https://www.youtube.com/t/terms</a
        >.
      </li>
      <li>
        <strong>Indemnification:</strong> You agree to indemnify and hold
        harmless Fuca and its affiliates, officers, agents, employees, and
        partners from any claim or demand, including reasonable attorneys' fees,
        made by any third party due to or arising out of your use of Fuca,
        your violation of these Terms of Service, or your violation of any
        rights of another user or third party.
      </li>
      <li>
        <strong>Intellectual Property:</strong> Fuca and its licensors retain
        all rights, title, and interest in and to the bot, including all
        intellectual property rights. You may not reproduce, modify, or
        distribute the bot without the express written permission of Fuca.
      </li>
    </ol>
    <p>
      <strong>NOTE:</strong> This terms of service includes the requirement for
      users to agree to the YouTube Terms of Service by using Fuca, along with
      a link to those terms. It also includes the limitation of liability and a
      clause for modifications to the bot and the terms of service. And by using
      Fuca, you agree to these terms and conditions. If you have any questions
      or concerns, please contact the Fuca team for assistance.
    </p>
    <h2>Contact Us</h2>
    <p>
      In order to resolve a complaint regarding the Bot or to receive further
      information regarding use of the Bot, please contact us at:
    </p>
    <p>
      Ansh Tyagi<br />
      25, Makanpur<br />
      Nyay Khand 1, Indirapuram<br />
      Ghaziabad, Uttar Pradesh - 201014<br />
      India (IN)
    </p>

    <p>Email: support@fuca.fluiddev.xyz</p>

    <p>Discord: {Ansh}#0607</p>
  </body>
</html>
